<header class="header">
  <div class="wrap">
    <h2 class="logo"><a href="/">Eurasia</a></h2>
    <div class="menu-btn">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
    <div class="menu">
      <p class="item"><a href="/">Home</a></p>
      <p class="item"><a href="/asia">Asia</a></p>
      <p class="item"><a href="/europe">Europe</a></p>
    </div>
  </div>
</header>