:root {
  --primary: #c38331;
  --secondary: #ffffff;
  --tertiary: #06252c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--tertiary);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;  
}

.header {
  width: 100%;
  padding: 16px;
}

.header .wrap {
  width: 95%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.logo {
  font-size: 1.5rem;
}

.logo a {
  color: var(--tertiary);
}

.menu {
  position: fixed;
  display: none;
  font-size: 1.5rem;
  flex-direction: column;
  gap: 16px;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  background-color:var(--secondary);
  justify-content: center;
  align-items: center;
  background: var(--primary);
}

.item,
.copyright {
  font-size: 1.3rem;
}

.item a {
  color: var(--secondary);
}

.menu-btn {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 18px;
  cursor: pointer;
  padding: 0;
  z-index: 2;
}

.line {
  width: 100%;
  height: 3px;
  transition: all 0.3s ease-in-out;
  background-color: var(--tertiary);
}

.menu-btn.active .line:nth-child(1) {
  transform: translateY(7.5px) rotate(45deg); 
}

.menu-btn.active .line:nth-child(2) {
  opacity: 0;
}

.menu-btn.active .line:nth-child(3) {
  transform: translateY(-7.5px) rotate(-45deg); 
}

.menu.active {
  display: flex;
}

.visual, 
.visual_region, 
.visual_detail {
  width: 100%;
  background-repeat: no-repeat;
  display: block;
  background-size: cover;
  height: 770px;
  object-position: left center;
  position: relative;
  background-position: center;
}

.visual {
  background-image: url(/img/visual_bg.jpg);
}

.visual_region {
  background-image: url(/img/region_bg.jpg);
}

.visual_detail {
  background-image: url(/img/detail_bg.jpg)
}

.titleBox {
  width: 215px;
  position: absolute;
  top: 250px;
  color: var(--secondary);
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-size: 2rem;
}

.title02 {
  font-size: 16px;
  color: var(--secondary);
}

.main {
  display: flex;
  flex-direction: column;
  padding: 80px 0 80px;
  text-align: center;
  color: var(--tertiary);
  gap: 24px;
  width: 80%;
  margin: 0 auto;
}

.welcomeMsg01,
.welcomeMsg03 {
  font-size: 1rem;
}

.welcomeMsgBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}

.welcomeMsg02,
.subTitle {
  font-size: 2rem;
}

.imgBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.region_imgBox {
  width: 100%;
  display: flex;
  padding: 150px 0;
  gap: 24px;
  flex-direction: column;
  margin: 0 auto;
}

.region_imgWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.imgWrap {
  width: 100%;
  display: flex;
  gap: 8px;
}

.imgWrap p.img {
  flex: 1;
}

.img_region {
  width: 100%;
  margin: 0 auto;
}

.img_region img {
  height: 250px;   
}

.intro-text {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 80px 0;
}

.description {
  font-size: 1.3rem;
}

.name {
  font-size: 1.3rem;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 24px;
  font-size: 1rem;
  background: var(--tertiary);
  color: var(--secondary);
}

@media (min-width: 768px) {
  .menu-btn {
    display: none
  }

  .menu {
    display: flex;
    position: static;
    width: auto;
    height: auto;
    flex-direction: row;
    background: none;
  }

  .logo,
  .item a {
    color: var(--tertiary);
  }

  .item a {
    position: relative; 
    text-decoration: none;
    color: #000;
    padding-bottom: 5px; 
  }

  .item a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;         
    transform: translateX(-50%);
    width: 0;          
    height: 2px;
    background-color: var(--primary);
    transition: all 0.5s;
  }

  .item a:hover:after {
    width: 100%;
  }

  .visual, 
  .visual_region, 
  .visual_detail {
    height: 100vh;
  }

  .titleBox {
    width: 280px;
    top: 400px;
  }

  .title {
    font-size: 2.5rem;
  }

  .imgBox {
    width: 80%;
    margin: 0 auto;
  }

  .region_imgBox  {
    flex-direction: row;
  }

  .img_region {
    overflow: hidden;
  }

  .img_region img {
    object-fit: cover;
    transition: transform 1s ease;
  }

  .img_region:hover img {
    transform: scale(1.1);
  }

  .region_imgWrap:hover .name{
    color: var(--primary);
  }

  .detail_img {
    width: 70%;
  }
  
  .place-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
  }

  .place-card:nth-child(even) {
    flex-direction: row-reverse;
  }
}

@media (min-width: 1920px) {
  .logo {
    font-size: 3rem;
  }
  
  .menu {
    width: 300px;
    justify-content: space-between;
  }

  .item {
    font-size: 2rem;
  }

  .titleBox {
    width: 500px;
    top: 500px;
  }

  .title {
    font-size: 4rem;
  }

  .img_region img {
    height: 500px;
  }

  .description {
    font-size: 2rem;
  }

  .welcomeMsg01,
  .welcomeMsg03 {
  font-size: 1.5rem;
  }

  .welcomeMsg02,
  .subTitle {
    font-size: 3rem;
  }

  .name {
    font-size: 2rem;
  }
}